Tuorist.json
{
  "name": "Tuorist",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -580,
        -40
      ],
      "id": "0aee9326-4670-4055-88bf-2e800f5e9bf8",
      "name": "Telegram Trigger",
      "webhookId": "d8f980f9-eab0-4d38-a5a5-2092d2fc2708",
      "credentials": {
        "telegramApi": {
          "id": "QWshdZI3pPtGqTmy",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -300,
        -120
      ],
      "id": "38ee22fe-a3a6-4c16-ae4c-9cf51ef80a39",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -420,
        140
      ],
      "id": "efc5cc3a-34f6-4d3b-8224-ef3b84cd16c9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "aEP6xu0oD5EvH2i8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "get_document",
        "toolDescription": "Use this tool to get relevant data for user's request",
        "pineconeIndex": {
          "__rl": true,
          "value": "tourism-openai",
          "mode": "list",
          "cachedResultName": "tourism-openai"
        },
        "topK": 6,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        0,
        60
      ],
      "id": "8f55b401-1f2a-4b7f-b576-df139adc7887",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "ThfHjZmDOhRqm9jX",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        20,
        200
      ],
      "id": "975ad001-c6aa-46a4-a53a-f948ba0702cd",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "aEP6xu0oD5EvH2i8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -220,
        100
      ],
      "id": "aaa07776-0ce1-4187-984c-9a74dd7be39c",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        60,
        -120
      ],
      "id": "c384f459-cb4f-45b3-9586-1137c7148d55",
      "name": "Telegram",
      "webhookId": "d724dd1f-947c-4cd6-a70e-d16cf369516f",
      "credentials": {
        "telegramApi": {
          "id": "QWshdZI3pPtGqTmy",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4ddc1e3c-5304-410c-86ee-1fafe8c21751",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c3a3ab13e71ad3b248083a1d18a452ce74d47839291f4784098439ea0588f3c0"
  },
  "id": "qkPW2K4sh0969KDQ",
  "tags": []
}